<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.mapper.TokenMapper" >
  <resultMap id="BaseResultMap" type="com.wechat.model.Token" >
    <id column="token" property="token" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from token
    where token = #{token,jdbcType=VARCHAR}
  </delete>
  <select id="display" resultType="com.wechat.model.Token">
  	select * from token
  </select>
  <update id="update" parameterType="java.lang.String" >
  	update token set token=#{token}
  </update>
  <insert id="insert" parameterType="com.wechat.model.Token" >
    insert into token (token)
    values (#{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.model.Token" >
    insert into token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>